

.main-page{
    background-image: linear-gradient( #0a0a0ae1,rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.527)), url("homeimage.jpg");
    
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 0px;
}

.discription{
    font-size: 4vw;
    font-weight: bolder;
    color: white;
  
}
#email-login{
width: 100%;
height: 4vw;
}
.signin-btn:active{
transform: scale(1.08);
}
.btn-1{
    width: 100%;
    height: 4vw;
border: none;
background-color: #f40612;;
}
.seprator{
  
    height: 10px;
    background-color: rgb(48, 48, 48);
}
.content{
   
    background-color: black;
    padding: 10vh 10vw;
 
}

.text-discription{
    font-size: 3vw;

}

.page-img{
    height: 80%;
    width: 100%;
    position: relative;
    z-index: +3;
}
.video-1{
    position: absolute;
    left: 56%;
    top: 130%;
    
 
}

.mobile-img-lower-box{
   border: 2px solid rgb(78, 77, 77) ;
  height: 100px;
  border-radius: 10px;
}

.video-2{
    position: absolute;
    top: 305%;
    left: 57.5%;
   
}
.frequently{
    font-size: 3.5vw;
    font-weight: bolder;
}

.faq{
  
    background-color: rgb(68, 67, 67);
}

.btn-style{
 background-color: transparent;
    width: 100%;
    border: none;
}
#div-1,#div-2,#div-3,#div-4,#div-5,#div-6{
display: none;
}

@media only screen and (max-width: 480px) {
  
    .discription{
      font-size: 8vw;
      
    }

    .video-1{
        position: absolute;
        left: 17%;
        top: 126%;
        width: 67%;

     
    }
    .seprator{
        height: 5px;
    }

    .video-2{
        position: absolute;
        left: 20%;
        top: 245%;
        width: 72%;
       
 
     
    }
    #email-login{
        width: 100%;
        height: 15vw;
        }
        .btn-1{
            height: 13vw;
        }
        .content{
            padding: 3vh 5vw;
        }

        .text-discription{
            font-size: 5vw;
        
        }

  }



